.App{
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  text-align: center;
 padding: 20px;
}

h1 {
  font-size: 50px;
  color:  rgb(38, 92, 139);
}

.recipe{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.recipe_item{
  background-color: #fff;
  border-radius: 20px;
  margin: 20px;
  padding: 40px 40px;
  transition: box-shadow .3s;
}

.recipe_item:hover {
  box-shadow: -2px 13px 3px 1px rgba(26, 25, 25, 0.322);;
}

.calories{
    font-size: 20px;
    font-weight: 500;
}

img {
  margin-top: 20px;
  width: 100%;
  border-radius: 20px;
}

input.search_bar {
  padding: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
 
}

button.btn {
  padding: 20px;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(38, 92, 139);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

form.search_form {
  padding: 50px 0;
}


@media (max-width: 768px){
  .App{
    padding: 5px;

  }
  .recipe{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .recipe_item{
    margin: 10px;
    padding: 30px 20px;
  }
}

ol {
  margin-left: 0;
}

li{
  text-align: left;
  font-size: 20px;
}

.recipe_list{
  color: #242323;
  margin-left: 10px;
  font-weight: 500;
}

.recipe_item h1{
  font-size: 30px;
}